<!-- New article button -->
<div class="row mt-3 mb-5">
<div class="col-md-8 offset-md-2">
  <div class="btn-group d-flex" role="group">
    <a href="/users" class="btn btn-outline-danger w-100">
      <i class="fas fa-users"></i>
      Our amazing community
    </a>
    <a href="/feedback/new" class="btn btn-danger w-100" rel="nofollow">
      <i class="fas fa-medkit"></i>
      Give some feedback!
    </a>
  </div>
</div> <!-- col -->
</div> <!-- row -->


<div class="row mb-4">
    <div class="col-md-8 offset-md-2">
      <div class="alert alert-success" role="alert">
        <h5>Here are a few improvements we already have in mind</h5>
        <ul>
          <li><strong>continuous flow</strong>: it is probably pretty annoying to you that the entire page reloads whenever you perform any action (like, comment, post, ...). To offer a more Facebook-like experience, give us first some time to read into JavaScript ajax.</li>
          <li><strong>iOS and Android apps</strong>: It was easiest for us to start with a web application. If KnowledgeSwipe turns out to e relevant for most/all of you, we will surely follow up with apps for all popular smartphones.</li>
          <li><strong>WhatsApp</strong>: there is plenty of good reason to dislike media disruption. Therefore, we intend to seemlessly integrate KnowledgeSwipe into your favorite media - imagine you can share articles with private or group chats on Whatsapp and once shared, others can bookmark articles directly in the chat without being redirected to our platform.</li>
        </ul>
        <strong>As you can imagine, we definitely highly appreciate any feedback on these topics!</strong> 
      </div>
    </div>
  </div>


<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
      
            <!-- card title -->
            <div class="card-header">
              <a style="color:black">
                <h4 class="card-title">
                  Thanks for sharing your thoughts with us
              </h4></a>
            </div> <!-- card header -->
      
            <div class="card-body">  
                <form action="/create_feedback" method="post">
    
                  <div class="form-group">
                    <label for="topic">
                      what's the matter?
                    </label>
                    <select id="topic" name="topic" class="form-control">
                      <option value="Errors/Dead Ends">Errors/Dead Ends</option>
                      <option value="Design Improvements">Design Improvements</option>
                      <option value="Functionalities/Features">Functionalities/Features</option>
                      <option value="Name/Brand">Name/Brand</option>
                      <option value="Feedback on general Usability">Feedback on general Usability</option>
                      <option value="Business Concept">Business Concept</option>
                      <option value="anything else">anything else</option>
                    </select>
                  </div>
                  
                  <div class="form-group">
                    <label for="pagination">
                      what section of the platform does this address?
                    </label>
                    <select id="pagination" name="pagination" class="form-control">
                      <option value="Newsfeed/Homepage">Newsfeed/Homepage</option>
                      <option value="Article Card">Article Card</option>
                      <option value="Filtering">Filtering</option>
                      <option value="Bookmarks/Favorites">Bookmarks/Favorites</option>
                      <option value="Focus Pages">Focus Pages</option>
                      <option value="User Accounts">User Accounts</option>
                      <option value="General Remarks">General Remarks</option>
                      <option value="not relevant">not relevant</option>
                    </select>
                  </div>
                  
                  <div class="form-group">
                    <label for="description">
                      please elaborate...
                    </label>
                
                    <textarea id="description" name="description" class="form-control" rows="3"></textarea>
                  </div>
                  
                  
                  <input type="hidden" name="user_id" value="<%=current_user.id%>">
                  <input type="hidden" name="status" value="submitted">
                  
                  <div class="modal-footer">
                
                    <button class="btn btn-primary" type="submit">let us know</button>
                    
                  </div>
                </form>
            </div>
        </div>
    </div>
</div>