<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="container">
        <a class="navbar-brand" href="/">
            curiousITy
        </a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible-nav-links" aria-controls="collapsible-nav-links" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="collapsible-nav-links">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item>">
                    <a href="/articles" class="nav-link">
                        <i class="far fa-newspaper"></i>
                        <span class="hidden-sm">
                            Newsfeed
                        </span>
                    </a>
                </li>
                <!--<li class="nav-item">
                    <a href="/users" class="nav-link">
                        <i class="fas fa-users"></i>
                        <span class="hidden-sm">
                            Community
                        </span>
                    </a>
                </li>-->
                <li class="nav-item">
                    <a href="/bookmarks" class="nav-link">
                        <i class="fas fa-bookmark"></i>
                        <span class="hidden-sm">
                            Bookmarks
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/favorites" class="nav-link">
                        <i class="fas fa-thumbs-up"></i>
                        <span class="hidden-sm">
                            Favorites
                        </span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">
                        <i class="fas fa-bolt"></i>
                        <span class="hidden-sm">
                            Focus
                        </span>
                    </a>
                    <div class="dropdown-menu" style="background-color:#f8f9fa; border-style:none">
                        <a class="dropdown-item" href="/hashtags">Topics</a>
                        <a class="dropdown-item" href="/publishers">Sources</a>
                        <a class="dropdown-item" href="/authors">Authors</a>
                    </div>
                </li>
            </ul>
            
            <ul class="navbar-nav">
                <% if current_user.blank? %>
                    <li class="nav-item">
                        <a href="/users/sign_in" class="nav-link">
                            <i class="fas fa-sign-in-alt"></i>
                            <span>
                                Sign in
                            </span>
                        </a>
                    </li>
                    <li class=nav-item>
                        <a href="/users/sign_up" class="nav-link">
                            <i class="fas fa-user-plus"></i>
                            <span>
                                Create an account
                            </span>
                        </a>
                    </li>
                <% else %>
                    <li class="nav-item">
                        <a href="/users/<%=current_user.id%>" class="nav-link">
                            <i class="fas fa-user"></i>
                            <span>
                                <%=current_user.username%>
                            </span>
                        </a>
                    </li>
                    <li class=nav-item>
                        <a href="/users/sign_out" data-method="delete" class="nav-link">
                            <i class="fas fa-sign-out-alt"></i>
                            <span>
                                Sign out
                            </span>
                        </a>
                    </li>
                <% end %>
            </ul>
        </div> <!-- .collapsible nav links -->
        
    </div> <!-- .container -->
</nav>