<!-- Validation failure messages -->
<% if @hashtag.present? %>
  <% if @hashtag.errors.any? %>
    <% @hashtag.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new hashtag
</h1>


<hr>

<form action="/create_hashtag" method="post">

  <div class="form-group">
    <label for="tag">
      Tag
    </label>

    <input type="text" id="tag" name="tag" class="form-control" value="<%= @hashtag.tag %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create hashtag
  </button>
</form>

<hr>

<a href="/hashtags">
  Go back
</a>
