<!-- Validation failure messages -->
<% if @author.present? %>
  <% if @author.errors.any? %>
    <% @author.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new author
</h1>


<hr>

<form action="/create_author" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <textarea id="name" name="name" class="form-control" rows="3"><%= @author.name %></textarea>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create author
  </button>
</form>

<hr>

<a href="/authors">
  Go back
</a>
