<h1>
  Add a new publisher
</h1>


<hr>

<form action="/create_publisher" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <textarea id="name" name="name" class="form-control" rows="3"></textarea>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create publisher
  </button>
</form>

<hr>

<a href="/publishers">
  Go back
</a>
